h1{
  color: #fff;
  text-align: center;
  max-width: 80vw;
}
.carousel-container{
  width: 80vw;
  height: 20vh;
  margin: 0 0
}
@media (min-width: 760px) {
  .carousel-container{
    height: 60vh;
    width: 80vw;
  }
}
.proyects-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
